#let(detail = [
    "title": "Variable",
    "key": "system.variables",
    "list": [
        "title": "Variables",
        "url": "/admin/system/variables/"
    ]
])

#define(details):
    <dl>
        <dt>Id</dt>
        <dd>#(model.id)</dd>

        <dt>Key</dt>
        <dd>#(model.key)</dd>
        
        <dt>Name</dt>
        <dd>#(model.name)</dd>

        <dt>Value</dt>
        <dd>#(model.value)</dd>
        
        <dt>Notes</dt>
        <dd>#(model.notes)</dd>
    </dl>
#enddefine

#inline("Admin/Detail")
