<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>Install - Feather CMS</title>
    
    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">

    #if($app.isDebug ?? false):
        #for(file in $app.css ?? []):
            <link rel="stylesheet" href="/css/#(file).css">
        #endfor
    #else:
        <link rel="stylesheet" href="/css/style.min.css">
    #endif

    <style>
        body {
            text-align: center;
        }
        main {
            flex: 1;
            overflow: auto;
        }
        #menu-logo {
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translateX(-50%);
        }
   </style>

</head>

<body>

    <a href="/" id="menu-logo">
        <img src="/images/logo-text.png" alt="Logo of Feather CMS" title="Feather CMS">
    </a>

    <div class="full-height">
        <main class="bg-1">
            <div class="wrapper">
                #body()
            </div>
        </main>
    </div>
    
</body>
</html>
